*,*::before,*::after{
  margin:0; padding:0; box-sizing:border-box;
  font-family:'Merriweather Sans',sans-serif;
}
:root{
  --colorDark1:#112D4E;
  --colorDark2:#3F73AF;
  --colorLight1:#D8E2EF;
  --colorLight2:#F9F7F7;
}
.wrapper{
  width:100vw; height:100vh; color:var(--colorLight2);
  background-color:#112d4e;
  background-image:linear-gradient(160deg,#112d4e 0%,#3f72af 100%);
  background-size:cover; background-position:center; background-repeat:no-repeat;
  overflow-x:hidden;
}
h1{ text-align:center; text-transform:uppercase; word-spacing:2px; padding-top:20px; user-select:none; }

.tab-container{
  width:90%; max-width:550px; margin:4rem auto 0; display:flex; justify-content:center;
}
.tab{ cursor:pointer; font-size:0.875rem; letter-spacing:1.75px; padding:5px 8px; }
.tab.current-tab{ background-color:rgba(219,226,239,0.5); border-radius:4px; }

.weather-container{ margin-block:4rem; }

.btn{
  all:unset; background-color:var(--colorDark2);
  font-size:0.85rem; text-transform:uppercase; border-radius:5px; cursor:pointer; padding:10px 30px;
}

.sub-container{ width:90%; margin:0 auto; max-width:1000px; display:flex; flex-direction:column; align-items:center; }

.loading-container{ display:none; }
.loading-container.active{ display:flex; }
.loading-container p{ text-transform:uppercase; }

.user-info-container{ display:none; }
.user-info-container.active{ display:flex; flex-direction:column; }

.name{ display:flex; flex-direction:row; align-items:center; gap:0 0.5rem; margin-bottom:1rem; }
.name p{ font-size:2rem; }

.user-info-container p{ font-size:1.5rem; font-weight:200; }
.weather-temp{ font-size:2.75rem; font-weight:700; }

.parameter-container{
  width:80%; display:grid; grid-template-columns:repeat(3,1fr); margin-top:2rem;
}

.parameter{
  width:100%; max-width:220px; background-color:rgba(219,226,239,0.5);
  border-radius:5px; padding:1rem; display:flex; flex-direction:column; align-items:center; gap:5px 0; margin-bottom:2rem;
}
.parameter:hover{
  box-shadow:5px 5px 5px 2px rgba(90,128,181,0.408);
  transform:scale(1.1); transition:transform 0.5s linear; border:1px solid rgba(90,128,181);
}

@media (max-width:940px){ .parameter-container{ grid-template-columns:repeat(2,1fr); } }
@media (max-width:630px){ .parameter-container{ grid-template-columns:repeat(1,1fr); align-items:center; } }

.parameter img{ width:50px; height:50px; object-fit:cover; }
.parameter p:first-of-type{ font-size:1.15rem; font-weight:600; text-transform:uppercase; }
.parameter p:last-of-type{ font-size:1rem; font-weight:200; }

.form-container{
  display:none; width:90%; max-width:550px; margin:0 auto 3rem; justify-content:center; align-items:center; gap:0 10px;
}
.form-container.active{ display:flex; }
.form-container input{
  all:unset; width:calc(100% - 80px); height:40px; padding:0 20px;
  background-color:rgba(219,226,239,0.5); border-radius:10px;
}
.form-container input::placeholder{ color:rgba(255,255,255,0.7); }
.form-container input:focus{ outline:3px solid rgba(255,255,255,0.7); }
.form-container .btn{
  padding:unset; width:40px; height:40px; display:flex; align-items:center; justify-content:center; border-radius:100%; margin-bottom:1px;
}
.form-container .btn img{ object-fit:contain; }

.Error{
  display:none; flex-direction:column; justify-content:center; align-items:center; gap:1rem;
}
.Error.active{ display:flex; }
.not-found{ width:100%; max-width:300px; }
.Error p{ font-size:1.5rem; font-weight:bold; color:white; }
.retry{
  padding:0.5rem 1.5rem; background:#0d223b; color:white; border-radius:0.4rem; cursor:pointer; font-size:1rem; transition:all 1s linear 0s;
}
.retry:hover{ transform:scale(1.2); }
